html {
    font: 100%/1.7 Lato, sans-serif;
    font-weight: 300;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
  }
  
  /**
   * Header
   */
  #header {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  #header a {
    text-indent: -999em;
    background: url("http://livingit.se/img/logo-800x800-t.png") no-repeat 100% 50%;
    background-size: 10rem;
    height: 3.4rem;
    width: 10rem;
    margin-left: auto;
  }
  
  /**
   * Main
   */
  main {
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
  }
  
  .bio * + * {
    margin-top: 1.5em;
  }
  
  .bio *:first-child {
    margin-top: 0;
  }
  
  .bio .m-photo {
    float: left;
    width: 12rem;
    max-width: 42vw;
    margin: 0 1em 0 0;
  }
  
  .bio .m-photo + p {
    margin-top: 0;
  }
  
  /* Photos */
  .photos {
    grid-column: 2 / 3;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
  }
  
  .photos *:first-child {
    display: none;
  }
  
  .photos img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  @media only screen and (min-width: 32em) {
    
    /* Profile */
    .profile {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 1rem;
    }
  
    /* Name */
    .name {
      grid-column: 1 / -1;
      font-weight: 700;
      margin: 0;
    }
  
    /* Bio */
    .bio {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    
    /* Inline photo */
    .bio .m-photo {
      display: none;
    }
  
    .bio .m-photo + p {
      margin-top: unset;
    }
    
    /* Photos */
    .photos *:first-child {
      display: inline;
      grid-column: span 2;
    }
  }