<section id="aboutus" class="section" data-stellar-background-ratio="0.2">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s">We Are
				<img class="headerlogo" border="0" src="{{site.imageurl}}logo-800x800-t.png"></h2>
			<hr class="lines wow zoomIn" data-wow-delay="0.3s">
			<p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Vår målsättning är att skapa en så bra och rolig arbetsplats som
        möjligt.<br>Alla i bolaget skall göra sitt bästa för att hjälpa till
        att stötta och inspirera varandra och bidra till en trivsam miljö där
        vi alla kan växa både yrkesmässigt och som individer.
      </p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
					<div class="box-item left">
						<span class="icon">
							<i class="lnr lnr-rocket"></i>
						</span>
						<div class="text">
							<h4>Våra uppdrag</h4>
							<p>Vi tar gärna på oss uppdrag med ett specifikt mål, både korta och långa uppdrag.</p>
						</div>
					</div>
					<div class="box-item left">
						<span class="icon">
							<i class="lnr lnr-diamond"></i>
						</span>
						<div class="text">
							<h4>Leveransansvar</h4>
							<p>Vi är alltid måna om att leverera och vi hjälper er att hitta smarta lösningar på era utmaningar!</p>
						</div>
					</div>
					<div class="box-item left">
						<span class="icon">
							<i class="lnr lnr-magic-wand"></i>
						</span>
						<div class="text">
							<h4>Drivkraft</h4>
							<p>Vi är väldigt nyfikna och drivna; utmaningar ser vi som en möjlighet att skaffa ny erfarenhet.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="show-box wow fadeInDown animated" data-wow-offset="10">
					<img src="{{site.imageurl}}features/feature.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
					<div class="box-item right">
						<span class="icon">
							<i class="lnr lnr-graduation-hat"></i>
						</span>
						<div class="text">
							<h4>Kompetensutveckling</h4>
							<p>Vi erbjuder betald studieledighet för till exempel självstudier eller konferensbesök.</p>
						</div>
					</div>
					<div class="box-item right">
						<span class="icon">
							<i class="lnr lnr-heart"></i>
						</span>
						<div class="text">
							<h4>Gemenskap</h4>
							<p>Det är viktigt att vi trivs och har kul tillsammans, då gör vi bra jobb också!</p>
						</div>
					</div>
					<div class="box-item right">
						<span class="icon">
							<i class="lnr lnr-star"></i>
						</span>
						<div class="text">
							<h4>Våra ledstjärnor</h4>
							<p>Är glädje, inspiration och passion.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
