<section id="becomeoneofus" class="section">
	<div class="container">
		<div class="image-section-header">
			<h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s">Are you ready to start
				<img class="headerlogo" border="0" src="{{site.imageurl}}logo-800x800-t.png">?</h2>
			<hr class="lines wow zoomIn" data-wow-delay="0.3s">
			<p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
				Vi är ett livsstilsbolag; målet är att göra det vi älskar och ha roligt tillsammans!<br>
				Delar du vår värdegrund och skulle vilja vara med i ett trevligt utvecklings-team är kanske Living IT något för dig?</p>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text">
					<h4>Värdegrund</h4>
					Living IT's målsättning är att skapa en så bra och rolig arbetsplats som möjligt, och vi förväntar oss att
																																				                    alla visar sin goda vilja att göra sitt bästa att hjälpa till med uppfyllandet av detta!<br><br>
					Alla i bolaget skall göra sitt bästa för att hjälpa till att stötta och inspirera varandra och bidra till
																																				                    en trivsam miljö där vi alla kan växa både yrkesmässigt och som individer. Vi skall ställa upp och visa vårt
																																				                    engagemang för varandra och företaget! Våra ledstjärnor skall vara glädje, inspiration och passion!<br><br>
					Det är viktigt att vi trivs och har kul tillsammans!<br><br>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text">
					<h4>Utmaningar</h4>
					Vi coachar varandra och försöker hitta uppdrag som passar din profil och ger dig rätt utmaning.<br><br>
					Vi hjälper dig att bygga en karriär, fylla i de kunskapsluckor du har och ger dig ett bollplank att diskutera framtiden med.<br><br>
					Om du känner att vår värdegrund ger resonans i dig kan du vara rätt person för oss! Tveka då inte att ta kontakt!<br><br>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text">
					<h4>Ersättning</h4>
					Vi har en briljant ersättningsmodell till dig som anställd som ger lika välbalanserad som svårslagen kombination av både frihet och trygghet.<br><br>
					Ta kontakt med oss, så berättar vi gärna mer om hur det fungerar!<br><br>
				</div>
			</div>
		</div>
	</div>
</section>
