<footer id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 site-info">
				<ul class="contact">
					<li>
						<b>Mattias Larsson</b>
					</li>
					<li>mattias.larsson@livingit.se</li>
					<li>0763-90 60 54</li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 site-info">
				<ul class="contact">
					<li>
						<b>Martin Stenlund</b>
					</li>
					<li>martin.stenlund@livingit.se</li>
					<li>072-201 07 20</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="contact-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
					<p>
						<ul>
							<li class="facebook">
								<a href="https://www.facebook.com/LivingITConsulting" target="facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="twitter">
								<a href="https://twitter.com/LivingITConsult" target="twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="linkedin">
								<a href="https://www.linkedin.com/company/living-it">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li class="instagram">
								<a href="https://www.instagram.com/LivingITConsulting/" target="instagram">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li class="eMail">
								<a href="mailto:hello@livingit.se">
									<i class="fa fa-envelope"></i>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
					<p>Living IT &copy; 2020</p>
					<p>
						Gustav Adolfs torg 12<br/>
						211 39 Malmö
					</p>
				</div>
				<div class="site-info">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" class="back-to-top">
	<i class="lnr lnr-arrow-up"></i>
</a>

<div id="loader">
	<div class="spinner">
		<div class="double-bounce1"></div>
		<div class="double-bounce2"></div>
	</div>
</div>
