<header id="video-area" data-stellar-background-ratio="0.5">
	<div id="block" data-vide-bg="video/video"></div>
	<div class="fixed-top menu-bg">
		<div class="container">
			<div class="logo-menu">
				<a href="index.html" class="logo"><img class="logo" border="0" src="{{site.imageurl}}logo-800x800-t.png"></a>
				<button class="menu-button" id="open-button">
					<i class="lnr lnr-menu"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="overlay overlay-2"></div>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="contents text-center">
					<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Vi är inte bara utvecklare</h1>
					<p class="lead wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Vår målsättning är att överträffa våra kunders förväntningar och ha roligt tillsammans!</p>
				</div>
			</div>
		</div>
	</div>
</header>
