<script src="{{site.jsurl}}/jquery-min.js"></script>
<script src="{{site.jsurl}}/tether.min.js"></script>
<script src="{{site.jsurl}}/bootstrap.min.js"></script>
<script src="{{site.jsurl}}/classie.js"></script>
<script src="{{site.jsurl}}/mixitup.min.js"></script>
<script src="{{site.jsurl}}/nivo-lightbox.js"></script>
<script src="{{site.jsurl}}/owl.carousel.min.js"></script>
<script src="{{site.jsurl}}/jquery.stellar.min.js"></script>
<script src="{{site.jsurl}}/jquery.nav.js"></script>
<script src="{{site.jsurl}}/smooth-scroll.js"></script>
<script src="{{site.jsurl}}/smooth-on-scroll.js"></script>
<script src="{{site.jsurl}}/wow.js"></script>
<script src="{{site.jsurl}}/menu.js"></script>
<script src="{{site.jsurl}}/jquery.vide.js"></script>
<script src="{{site.jsurl}}/jquery.counterup.min.js"></script>
<script src="{{site.jsurl}}/jquery.magnific-popup.min.js"></script>
<script src="{{site.jsurl}}/waypoints.min.js"></script>
<script src="{{site.jsurl}}/form-validator.min.js"></script>
<script src="{{site.jsurl}}/main.js"></script>
