<section id="services" class="section">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s">Vår expertis</h2>
			<hr class="lines wow zoomIn" data-wow-delay="0.2s">
			<p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s">
        Vårt fokus ligger först och främst inom olika former av mjukvaruutveckling och säkerhet.<br>Kompetensutveckling är inbyggt i vårt DNA!
			</p>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="item-boxes wow fadeInDown" data-wow-delay="0.3s">
					<div class="icon">
						<i class="lnr lnr-cog"></i>
					</div>
					<h4>Utveckling</h4>
					<p>Vi har experter främst inom .NET, Java och JavaScript/frontend, men de flesta av oss har även många andra strängar på sin lyra.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
					<div class="icon">
						<i class="lnr lnr-tablet"></i>
					</div>
					<h4>Mobila appar</h4>
					<p>Vi kan hjälpa er att bygga appar både native och genom JavaScript-ramverk, till exempel Cordova/Phonegap/Ionic och React-native.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-boxes wow fadeInDown" data-wow-delay="0.5s">
					<div class="icon">
						<i class="lnr lnr-link"></i>
					</div>
					<h4>Säkerhet</h4>
					<p>Vi erbjuder utbildning inom hotmodellering och hjälper er sätta upp en Secure Development Life
																																				                       Cycle. Vi kan också hjälpa er med riskanalys av era lösningar och ge råd om hur ni tar nästa steg.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
					<div class="icon">
						<i class="lnr lnr-graduation-hat"></i>
					</div>
					<h4>Kompetensutveckling</h4>
					<p>Vi delar gärna med oss av vår egen kompetens, men kan även hjälpa er att komma igång med
																																				                       kompetensutveckling internt eller sätta upp era egna "unconferences".</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-boxes wow fadeInDown" data-wow-delay="0.7s">
					<div class="icon">
						<i class="lnr lnr-license"></i>
					</div>
					<h4>Utvecklingsprocesser</h4>
					<p>Vi hjälper er att sätta upp eller förbättra utvecklingsmiljöer med kodgranskning och Continuous Integration/Delivery.</p>
				</div>
			</div>
		</div>
	</div>
</section>
